/.DS_Store
/.venv
/.vscode
/123.py
/3주차 실습1.py
/3주차 실습3.py
/3주차 실습2.py
/3주차 실습4.py
/4주차 실습1.py
/4주차 실습2.py
/4주차 실습3.py
/4주차 실습4+.py
/4주차 실습4.py
/5주차 실습1.py
/5주차 실습2.py
/5주차 실습3.py
/5주차 실습4.py
/6주차 실습 1~4.zip
/6주차 실습1.py
/6주차 실습2.py
/6주차 실습3.py
/6주차 실습4.py
/7주차 실습1.py
/9주차 실습1.py
/shape.py
/test1
/test1.cpp
/test1.dSYM
/test1.py
/성적집계표.txt
/기말 파이썬.py
/테스트2.py